.TitleHeader{
    width: 100%;
    // padding: 0 10px 0 10px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    // background-color: blue;
}
.TitleText{
    display: inline-flex;
    text-align:left;
    font-size: 19px;
    width: 81%;
    color: #ffffff;
    // font-weight: 700;
    align-items: center;
}

.tablebackground{
    margin-top: 20%;
    border: 1px solid #000000; 
    padding: 10px; 
    width: 90%;
}

.tableback{
    margin-top: 5%;
    border: 1px solid #000000; 
    padding: 10px; 
    width: 90%;
}


.FixedButton{
    width:65px;
    height: 65px;
   position: fixed;
   bottom: 20px;
   right: 20px;
   border-radius:50%;
   color:white;
   z-index: 10;
   background-color: #d2691e;
}

.cl-fixed-position-total-amount-bottom{
    position: fixed;
    border-radius:20px;
    background-color: #2e2d2d;
    bottom: 20px;
    color:white;
    // margin-left: auto;
    // margin-right: auto;
    padding:10px;
}

.cl-back-button{
    background: url('../../../assets/back_white.png') center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    outline: 0;
    box-shadow: 0 0 0 0;
    margin-right: 15px;
}

.cl-date-label{
    margin-top:20px;
    background-color: rgb(161, 156, 156);
     border-radius: 15px;
     font-size:10px;
      width:70px;
       padding:8px; 
    margin:auto;
}

.cl-debit-button{
    // width:65px;
    // height: 65px;
   position: fixed;
   bottom: 20px;
   right: 20px;
   border-radius:30px;
   color:white;
   z-index: 10;
   background-color: #2e2d2d;
}
.cl-credit-button{
    // width:65px;
    // height: 65px;
   position: fixed;
   bottom: 20px;
   left: 20px;
   border-radius:30px;
   color:white;
   z-index: 10;
   background-color: #2e2d2d;
}
