<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-row>
      <ion-col size="2">
        <button ion-button class="cl-back-button" (click)="goBackword()" style="color:white;margin:7px"></button>
      </ion-col>
      <ion-col size="10" class="TitleHeader TitleText">
        <ion-label style="color:white">{{customerName | titlecase}}</ion-label>
      </ion-col>
    </ion-row>


  </ion-toolbar>
</ion-header>

<ion-content style="width:100%">

 
    <div style="background-color: #414a58;position: fixed; width:100%;z-index: 1; ">

      <ion-row fxLayout="row" fxLayoutAlign="space-around center" style="color:white">
        <div fxLayout="column" fxLayoutAlign="center center" (click)="clickMenuItem(1)">
          <ion-icon name="arrow-round-up" style="width:25px;height:25px; margin-bottom:10px; margin-top:20px"></ion-icon>
          <label style="font-size: 14px; margin-bottom:15px;">Debited</label>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" (click)="clickMenuItem(2)">
          <ion-icon name="arrow-round-down" style="width:25px;height:25px; margin-bottom:10px; margin-top:20px">
          </ion-icon>
          <label style="font-size: 14px;margin-bottom:15px;">Credited</label>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" (click)="clickMenuItem(3)">
          <ion-icon name="mail" style="width:25px;height:25px; margin-bottom:10px; margin-top:20px"></ion-icon>
          <label style="font-size: 14px;margin-bottom:15px;">Message</label>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" (click)="clickMenuItem(4)">
          <ion-icon name="call" style="width:25px;height:25px; margin-bottom:10px; margin-top:20px"></ion-icon>
          <label style="font-size: 14px;margin-bottom:15px;">Call</label>
        </div>
      </ion-row>
      <ion-row style="margin-top:10px">
        <ion-col size="4">
          <label style="font-size: 15px;color: whitesmoke; margin-left:5px; ">Transactions</label>
        </ion-col>
        <ion-col size="8">
          <div fxLayout="row" fxLayoutAlign="end end">
            <ion-label  style="color:white;margin-right:10px;font-size: 15px; ">Balance :
              ₹{{totalAmount}} {{totalAmountStatus}}</ion-label>
           </div>
           
        </ion-col>
      </ion-row>
      <!-- <h5 fxLayout="row" fxLayoutAlign="center center" style="color:white; margin-bottom:20px">Balance :
        ₹{{totalAmount}} {{totalAmountStatus}}</h5> -->
    </div>
  
    <div style="width:100%;margin-top:37%">
   
   
    <div *ngFor="let item of getHistoryArray" style="width:100%;">
      <div fxLayout="row" fxLayoutAlign="center center">
        <label fxLayoutAlign="center center" style="font-size: 10px;color: white; background-color: rgb(182, 180, 180);padding:5px;width:22%; border-radius: 15px;margin-top:10px">{{item.date}}</label>
      </div>
      <div *ngFor="let listArray of item.list" style="width:100%;margin-top:10px">
        <div fxLayout="column" fxLayoutAlign="start start" *ngIf="listArray.type == '1' ">
          <ion-card 
            style="border: 1px solid grey; width:200px; margin-left:20px; margin-top:5px;padding:4px">
            <ion-row>
              <ion-col size="7">
                <label style="font-size: 17px;color:red">₹{{listArray.amount}}</label>
              </ion-col>
              <ion-col size="5">
                <label style="font-size: 10px;color:grey">{{listArray.time}}</label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="8">
                <label style="font-size: 13px;color:rgb(17, 17, 17)">{{listArray.comment}}</label>
              </ion-col>
            </ion-row>
  
          </ion-card>
          <ion-row style="margin-left:20px">
            <ion-col size="12">
              <label style="font-size: 13px;color:grey">₹{{listArray.balance}} Advance</label>
            </ion-col>
          </ion-row>
        </div>
        <div fxLayout="column" fxLayoutAlign="end end" *ngIf="listArray.type == '2' ">
          <ion-card 
            style="border: 1px solid grey;width:200px;margin-right:20px; margin-top:5px;padding:4px">
            <ion-row>
              <ion-col size="7">
                <label style="font-size: 17px;color:green">₹{{listArray.amount}}</label>
              </ion-col>
              <ion-col size="5">
                <label style="font-size: 10px;color:grey">{{listArray.time}}</label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="8">
                <label style="font-size: 13px;color:rgb(7, 7, 7)">{{listArray.comment}}</label>
              </ion-col>
            </ion-row>
  
          </ion-card>
          <ion-row style="margin-right:20px">
            <ion-col size="12">
              <label style="font-size: 13px;color:grey">₹{{listArray.balance}} Due</label>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </div>


 <!-- <div fxLayout="row" fxLayoutAlign="center center">
  <ion-label  style="position: fixed;bottom: 20px;background-color:#5f5c5c;color:white ;border-radius: 15px;padding:10px;">Balance :
    ₹{{totalAmount}} {{totalAmountStatus}}</ion-label>
 </div> -->
 

</ion-content>