<ion-header class="new-background-color">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" style="color:white">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color:white">
      Debit Amount
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>


  <div fxLayout="column" fxLayoutAlign="center" style="margin-top:10%">

    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field style="width:80%">
        <input type="text"
               placeholder="Customer Name"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>


      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field style="width:80%">
          <mat-label>Choose a date</mat-label>
          <input matInput #input="ngModel" [(ngModel)]="userModel.date" [min]="minDate" [max]="today"
            [matDatepicker]="picker" placeholder="Choose a date">
          <!-- <input matInput [matDatepicker]="picker" [(ngModel)]="userModel.date" [max]="maxDate"> -->
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker (selectedChanged)="onDate($event)"></mat-datepicker>
        </mat-form-field>
      </div>


      <div fxLayout="row" fxLayoutAlign="center center" style="width:100%;">
        <mat-form-field style="width:80%">
          <mat-label>Add Debit</mat-label>
          <ion-row>
            <ion-col size="12">
              <input matInput type="number" name="payment" [(ngModel)]="userModel.payment"
                #payment="ngModel" class="form-control" align="center" required pattern="[0-9.-]+$">
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
        </mat-form-field>
      </div>


      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field style="width:80%;">
          <mat-label>Note</mat-label>
          <textarea matInput class="form-control " name="note" [(ngModel)]="userModel.note" #note="ngModel"
            pattern="[a-zA-z]+$" placeholder="Note"></textarea>
        </mat-form-field>
      </div>


      <div fxLayout="row" fxLayoutAlign="center center" style="margin-top:10%" >
        <button mat-raised-button [disabled]="payment.invalid " class="submitButton" (click)="debitAmount()">Debit</button>
      </div>


      </div>
</ion-content>
