<ion-header class="new-background-color">
  <ion-toolbar class="new-background-color">

    <ion-row>
      <ion-col size="2">
        <ion-icon name="close" style="width:30px; height:30px; margin:10px ;color : #ffffff" (click)="goBackword()">
        </ion-icon>
        <!-- <checkRecordStatus ion-button class="BackButton" (click)="goBackword()" style="margin:10px"></button> -->
      </ion-col>
      <ion-col size="10">
        <ion-label class="TitleHeader TitleText" style="font-size: 17px;">
          Add Customer
        </ion-label>
      </ion-col>

    </ion-row>

  </ion-toolbar>
</ion-header>
<ion-content>

  <form #userForm="ngForm" style="width:100%">
    <ion-row style="width:100%;margin-top:5%">
      <ion-col size="2">
        <ion-icon name="person" style="width:25px; height:25px; color : #93959e; margin: 20px">
        </ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-row>
          <mat-form-field style="width:95%; margin-right:5%">
            <input matInput class="form-control " name="fname" required [(ngModel)]="userModel.fname" #fname="ngModel"
              pattern="[a-zA-z   ]+$" placeholder="First Name" />
            <mat-error>
              <div class="form-group">
                <div *ngIf="fname.invalid && (fname.dirty || fname.touched)">
                  First Name Is Requird
                </div>
              </div>
            </mat-error>

          </mat-form-field>
        </ion-row>


      </ion-col>
    </ion-row>

    <ion-row style="margin-top:-10px">
      <ion-col size="2">
      </ion-col>
      <ion-col size="10">
        <ion-row>
          <mat-form-field style="width:95%; margin-right:5%">
            <input matInput class="form-control " name="lname" required [(ngModel)]="userModel.lname" #lname="ngModel"
              pattern="[a-zA-z]+$" placeholder="Last Name" />
            <mat-error>
              <div class="form-group">
                <div *ngIf="lname.invalid && (lname.dirty || lname.touched)">
                  Last Name Is Requird
                </div>
              </div>
            </mat-error>

          </mat-form-field>
        </ion-row>
      </ion-col>

    </ion-row>


    <ion-row style="margin-top:-10px">
      <ion-col size="2">
        <ion-icon name="call" style="width:25px; height:25px; color : #93959e; margin: 20px">
        </ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-row>
          <mat-form-field style="width:95%; margin-right:5%">

            <input matInput class="form-control " name="mobile" type="tel" minlength="10" maxlength="10" id="mobile"
              required [(ngModel)]="userModel.mobile" #mobile="ngModel" pattern="[0-9]+$" placeholder="Mobile" />

            <mat-error>
              <div class="form-group">
                <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)">
                  Mobile Number Is Requird
                </div>

              </div>
            </mat-error>

          </mat-form-field>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top:-10px">
      <ion-col size="2">
        <ion-icon name="mail" style="width:25px; height:25px; color : #93959e; margin: 20px">
        </ion-icon>
      </ion-col>

      <ion-col size="10">
        <ion-row>
          <mat-form-field style="width:95%; margin-right:5%">
            <input matInput class="form-control " name="email" [(ngModel)]="userModel.email" #email="ngModel"
              pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email" />
            <mat-error>
              <div class="form-group">
                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                  Email Is Requird
                </div>
              </div>
            </mat-error>

          </mat-form-field>
        </ion-row>
      </ion-col>
    </ion-row>



    <ion-row style="margin-top:-10px">
      <ion-col size="2">
        <ion-icon name="home" style="width:25px; height:25px; color : #93959e; margin: 20px">
        </ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-row>
          <mat-form-field style="width:95%; margin-right:5%">
            <textarea matInput class="form-control " name="address" [(ngModel)]="userModel.address" #address="ngModel"
              pattern="[a-zA-z  ,-_.]+$" placeholder="Address"></textarea>
          </mat-form-field>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top:-10px">
      <ion-col size="2">
        <ion-icon name="document" style="width:25px; height:25px; color : #93959e; margin: 20px">
        </ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-row>
          <mat-form-field style="width:95%; margin-right:5%">
            <textarea matInput class="form-control " name="note" [(ngModel)]="userModel.note" #note="ngModel"
              pattern="[a-zA-z  ,-.]+$" placeholder="Note"></textarea>
          </mat-form-field>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top:-10px">
      <ion-col size="2">
        <ion-icon name="person" style="width:25px; height:25px; color : #93959e; margin: 20px">
        </ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-row>
          <mat-form-field style="width:95%; margin-right:5%">
            <input matInput class="form-control " name="dname" required [(ngModel)]="userModel.dname" #dname="ngModel"
              pattern="[a-zA-z .,  ]+$" placeholder="Driver Name" />
            <mat-error>
              <div class="form-group">
                <div *ngIf="dname.invalid && (dname.dirty || dname.touched)">
                  Driver Name Is Requird
                </div>
              </div>
            </mat-error>
          </mat-form-field>
        </ion-row>

      </ion-col>
    </ion-row>

    <ion-row style="margin-top:-10px">
      <ion-col size="2">
        <ion-icon name="car" style="width:25px; height:25px; color : #93959e; margin: 20px">
        </ion-icon>
      </ion-col>
      <ion-col size="8">
        <ion-row>
          <mat-form-field style="width:95%; margin-right:5%">
            <input matInput class="form-control " name="numberv" required [(ngModel)]="userModel.numberv"
              #numberv="ngModel" pattern="[a-zA-z0-9-.   ]+$" placeholder="Vehicle Number" />
            <mat-error>
              <div class="form-group">
                <div *ngIf="numberv.invalid && (numberv.dirty || numberv.touched)">
                  Vehicle Number Is Requird
                </div>
              </div>
            </mat-error>

          </mat-form-field>
        </ion-row>





      </ion-col>
      <ion-col size="2">
        <ion-icon name="add-circle" style="width:25px; height:25px; color : #3a3b3b; margin: 20px"
          (click)="addVehicle()">
        </ion-icon>
      </ion-col>
    </ion-row>

    <div fxlayout="row" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutAlign="center center" *ngIf="displayVehicleRecord == 0" style="width:85%">
        <label style="font-size: 17px;">Vehicle Detail</label>

        <ion-row style="border: 1px solid grey; width:100%; margin-top:10px">
          <ion-col size="4" style="border-right: 1px solid grey;">
            <label fxLayoutAlign="center center" class="cl_table_title_css"> <b>Driver Name</b></label>
          </ion-col>
          <ion-col size="4" style="border-right: 1px solid grey;">
            <label fxLayoutAlign="center center" class="cl_table_title_css"> <b>Vehicle Number</b> </label>
          </ion-col>
          <ion-col size="2" style="border-right: 1px solid grey;">
            <label fxLayoutAlign="center center" class="cl_table_title_css"> <b>Update</b></label>
          </ion-col>
          <ion-col size="2">
            <label fxLayoutAlign="center center" class="cl_table_title_css"> <b>Delete</b></label>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let item of vehicleDetailArray; let i = index;"
          style="border-bottom: 1px solid grey;border-right: 1px solid grey;border-left: 1px solid grey; width:  100%;">
          <ion-col size="4" style="border-right: 1px solid grey;">
            <label fxLayoutAlign="center center" class="cl_table_content_css">{{item.driverName }}</label>
          </ion-col>
          <ion-col size="4" style="border-right: 1px solid grey;">
            <label fxLayoutAlign="center center" class="cl_table_content_css">
              {{item.vehicleNumber}}
            </label>
          </ion-col>

          <ion-col size="2" fxLayoutAlign="center center" style="border-right: 1px solid grey;">
            <ion-icon fxLayoutAlign="center center" name="create" style="width: 20px; height: 20px;"
              (click)="updateRecord(i,item)"></ion-icon>
          </ion-col>

          <ion-col size="2" fxLayoutAlign="center center" style="border-right: 1px solid grey;">
            <ion-icon fxLayoutAlign="center center" name="close" style="width: 20px; height: 20px;"
              (click)="removeRecord(i)"></ion-icon>
          </ion-col>
        </ion-row>
      </div>

    </div>


    <div fxLayout="row" fxLayoutAlign="center center" style="margin-top:15px; margin-bottom: 20px">
      <button mat-raised-button [disabled]="mobile.invalid || address.invalid || fname.invalid || lname.invalid "
        class="submitButton" (click)="addCustomerData()">Save</button>

    </div>
  </form>


</ion-content>