.registration-main{
    margin-top: 5%;
    width: 100%;
<<<<<<< HEAD
    border: 1px solid red;
=======
    // border: 1px solid red;
>>>>>>> c917c714a6fa08e07d3cde9b047a2d382a91c65f
    }
    mat-card{
    min-width: 80%;
    }
<<<<<<< HEAD
    
=======
>>>>>>> c917c714a6fa08e07d3cde9b047a2d382a91c65f
