.cl-back-button{
    background: url('../../../assets/back_white.png') center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    outline: 0;
    box-shadow: 0 0 0 0;
    margin-right: 15px;
}
.ac-container{
    background-color: #ffffff;
    width: 100%;
    margin: auto;
}
.ac-conatiner-title{
    
    background-color:#2e2d2d;
    color: #ffffff;
}


.ac-l-container{
    margin: auto;
    width: 60%;
    

}
