<ion-header class="new-background-color">

  <ion-toolbar class="new-background-color">
    <ion-row>
      <ion-col size="2">
        <button ion-button class="cl-back-button" (click)="goBackword()" style="color:white;margin:7px"></button>
      </ion-col>
      <ion-col size="10" class="TitleHeader TitleText">
        <ion-label style="color:white">Purchase History</ion-label>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div *ngIf="showPurchaseRecord == 1" fxLayout="column" fxLayoutAlign="center center">

    <div *ngFor="let item of getPurchaseHistory" style="width:100%; border-radius: 10px;">
      <div fxLayout="row" fxLayoutAlign="center center">
        <label fxLayoutAlign="center center"
          style="font-size: 10px;color: white; background-color: rgb(182, 180, 180);padding:5px;width:22%; border-radius: 15px;margin-top:10px">{{item.date}}</label>
      </div>

      <ion-card *ngFor="let history of item.list" style="border-radius: 10px;">
        <ion-row style="margin-left: 5px;">
          <ion-col size="6">
            <label class="cl_title_css">Fuel Type:</label>
          </ion-col>
          <ion-col size="6">
            <label class="cl_label_css" *ngIf="history.type == '0' ">Petrol</label>
            <label class="cl_label_css" *ngIf="history.type == '1' ">Diesel</label>
          </ion-col>
        </ion-row>

        <ion-row style="margin-left: 5px;">
          <ion-col size="6">
            <label class="cl_title_css">In Litures : </label>
          </ion-col>
          <ion-col size="6">
            <label class="cl_label_css">{{history.amountInLitre}} Ltr</label>
          </ion-col>
        </ion-row>

        <!-- <ion-row style="margin-left: 5px;">
          <ion-col size="6">
            <label class="cl_title_css">Total Amount : </label>
          </ion-col>
          <ion-col size="6">
            <label class="cl_label_css">{{history.finalAmount}}</label>
          </ion-col>
        </ion-row>

        <ion-row style="margin-left: 5px;">
          <ion-col size="6">
            <label class="cl_title_css">Paid Amount : </label>
          </ion-col>
          <ion-col size="6">
            <label class="cl_label_css">{{history.amountPaid}}</label>
          </ion-col>
        </ion-row> -->


        <ion-row style="margin-left: 5px;">
          <ion-col size="6">
            <label class="cl_title_css">Credited Amount : </label>
          </ion-col>
          <ion-col size="6">
            <label class="cl_label_css">₹ {{history.finalAmount - history.amountPaid }}</label>
          </ion-col>
        </ion-row>
      </ion-card>



    </div>

  </div>

  <div *ngIf="showPurchaseRecord == 0" fxLayout="row" fxLayoutAlign="center center" style="margin-top: 25%;">
    <h3>No records found</h3>
  </div>
</ion-content>