
.BackButton{
    background: url('../../../assets/back_white.png') center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    outline: 0;
    box-shadow: 0 0 0 0;
    margin-right: 15px;
}

.TitleHeader{
    width: 100%;
    // padding: 0 10px 0 10px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    // background-color: blue;
}
.TitleText{
    display: inline-flex;
    text-align:left;
    font-size: 19px;
    width: 81%;
    color: #ffffff;
    // font-weight: 700;
    align-items: center;
}


.odd{
    background-color:#f08132;
  }
  .even{
    background-color: rgb(238, 56, 183);
  }


.centerImg {
    border : 1px solid #bdafaf;
    display: block;
    // margin-left: auto;
    // margin-right: auto;
    width: 80px;
    color:white;
    height: 80px;
    background-color: #f08132;
    margin-top:15%;
    border-radius: 50%;
  }


.inputCss{
    color: black; 
    width: 70%; 
    margin-left: 15%; 
   margin-right: 15%;
   margin-top:7px;
}

.editCss{
    width: 45%;
    margin-left:50%;
    margin-right:5%;
    background-color: #494747;
    display: inline-block;
    text-align: center;
    padding:11px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 20px;
  }


.new-background-color{
    --background: #494747;
  }