<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar >
          <img src="../assets/logoapp.png" class="cl-sidemenu-logo" />

          <div align="center" style="margin-top:10px; margin-bottom:20px">
            <ion-title style="color:white">Khamkar Petrolium</ion-title>
          </div>

        </ion-toolbar>
      </ion-header>
      <ion-content style="margin-top: 5%;">
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" (click)="sideMenuClicked(p.title)">
              <!-- <ion-icon slot="start" [name]="p.icon" style="color:white"></ion-icon> -->
              <ion-label style="color:white; font-size: 15px;">
                {{p.title}}
              </ion-label>
              <ion-icon name="arrow-dropright" style="color:white"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
