.cl-logo-css{
    width: 80px;
    height : 80px;
    border-radius: 50%;
}

.cl-sidemenu-logo{
    height: 80px;
     width : 80px;
      border-radius: 50%;
       margin-top: 20px; 
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 12%;
  }