.cl-fixed-bottom-position{
    width:75px;
    height: 75px;
   position: fixed;
   bottom: 20px;
   right: 20px;
   border-radius:50%;
   color:white;
   z-index: 10;
   padding: 10px;
   background-color: #2e2d2d;
}