.centerImg {
    border : 1px solid #bdafaf;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    color:white;
    height: 70px;
    background-color: #f032f0;
    border-radius: 50%;
  }

  .BackButton{
    background: url('../../../assets/back_white.png') center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    outline: 0;
    color: white;
    box-shadow: 0 0 0 0;
    margin-right: 15px;
}

.TitleHeader{
    width: 100%;
    // padding: 0 10px 0 10px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    // background-color: blue;
}
.TitleText{
    display: inline-flex;
    text-align:left;
    font-size: 19px;
    width: 81%;
    color: #ffffff;
    // font-weight: 700;
    align-items: center;
}

.cl_title_fontsize{
font-size: 18px;
padding:3px;
color: rgb(105, 102, 102);
}

.cl_content_fontsize{
font-size:15px;
color: black;
padding:3px;
}



.odd{
    background-color:#f08132;
  }
  .even{
    background-color: rgb(238, 56, 183);
  }