<ion-header class="new-background-color">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" style="color:white">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color:white">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div align="left" style="margin: 10px">
    <ion-searchbar type="text" debounce="500" (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list >
        <ion-item *ngFor="let item of items">{{ item }}</ion-item>
    </ion-list>
  
  </div>

  <div class="cl-center-title" fxLayout="row" fxLayoutAlign="center center" (click)="addCustomer()">
    <ion-icon name="person-add" style="color:rgb(18, 118, 199);width:20px; height: 20px"></ion-icon>
    <ion-label style="color:rgb(18, 118, 199); " >Add Customer</ion-label>
  </div>
 

  <div *ngFor="let daata of getCusstomers; index as i"class="cl-center-title">
    <ion-item  style="margin-left:-20px" (click)="getBalanceDetail(daata.name)">
      <div style="margin-left:30px">
       
    <button style="width:35px; height: 35px; border-radius: 50%;margin-right: 15px ; color: #ffffff" [ngClass]="(i % 2 == 0) ? 'odd' : 'even' ">{{daata.name.charAt(0) | uppercase}}</button>
      </div>
      {{daata.name | titlecase}}
    </ion-item>
  </div>

</ion-content>
