<ion-header class="new-background-color">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" style="color:white">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color:white">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="width:100%">
<div style="position:fixed; top:50px ; z-index: 1;background-color: white;width:97%; margin:5px">
  <div align="left" style="width:100%;z-index: -1;">
    <ion-searchbar type="text" debounce="500" (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list >
        <ion-item *ngFor="let item of items">{{ item }}</ion-item>
    </ion-list>
  
  </div>

  <!-- <div  fxLayout="row" fxLayoutAlign="start start" (click)="addCustomer()" style="margin-left:10px;margin-top:-5px; ">
    <button mat-raised-button style="  border: 1px solid rgb(63, 62, 62);padding:10px;margin-left:5 px; border-radius: 5px;">Add Customer</button>
  </div> -->
</div>
  
 <!-- <ion-icon name="person-add" style="color:rgb(18, 118, 199);width:20px; height: 20px; margin-right:8px;margin-top: -4px"></ion-icon>
    <ion-label style="color:rgb(18, 118, 199); " >Add Customer</ion-label> -->

<div style="margin-top:20%">
  <div *ngFor="let daata of getCusstomers; index as i" >
    <ion-item (click)="getBalanceDetail(daata)" style="margin-left:-20px">
      <div style="margin-left:30px">
       
    <button style="width:35px; height: 35px; border-radius: 50%;margin-right: 15px ; color: #ffffff" [ngClass]="(i % 2 == 0) ? 'odd' : 'even' ">{{daata.firstName.charAt(0) | uppercase}}</button>
      </div>
      {{daata.firstName | titlecase}}  {{daata.lastName | titlecase}}
    </ion-item>
  </div>
</div>
 
<div>
  <button (click)="addCustomer()" align="center" style="position:fixed; width:60px;height:60px;right:30px; bottom:20px; background-color: #2e2d2d;border-radius: 50%;"><ion-icon style="width:30px; height: 30px;color:white" name="add"></ion-icon></button>
</div>

</ion-content>
