.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.new-background-color{
  --background: #494747;
}

.odd{
  background-color:#f08132;
}
.even{
  background-color: rgb(238, 56, 183);
}

.cl-center-title{
  margin-top:5%;
}

.cat-search
{
// margin-top: 5px;
position: absolute;
// top:5%;
border: none;
outline: none;
margin-top: 25px;
height: 75px;
left: 50%;
width: 100%;
transform: translate(-50%,-50%);
background: linear-gradient(120deg,#3498db,#8e44ad);

}

input {
  border: none;
}


input:focus {
  outline: none;
}