.submitButton{
   
    height: 48px;	
    width: 30%; 
  
    border-radius: 25px;	
    background-color: #2e2d2d;
    color: #FFFFFF;	
    font-family: 'Roboto',sans-serif;	
    font-size: 15px;	
    
}